* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "roboto", sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    background-image: url("./image/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 56rem;
    width: 100%;
    position: relative;
    color: white;
}

.menu-container {
    position: fixed;
    top: 0%;
    left: 0rem;
    z-index: 2000;
}

.menu {
    display: inline;
    height: 2.5rem;
    background-color: #6c933e;
}

.shop {
    margin: 10%;
    font-weight: bold letter-spacing:;
    text-align: center;
    font-size: 3rem;
}

.delusion {
    margin: 10%;
    letter-spacing: ;
    text-align: center;
    font-size: 1.3rem;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.scroll {
    background-color: white;
    height: 3rem;
    border-radius: 50%;
    padding: 1rem 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 45%;
    top: 85%;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 1.5;
    width: 100%;

    padding: 2rem 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.history {
    line-height: 1.5;
    color: #6c933e;
    font-size: 1rem;
    margin-bottom: 0.30rem;
}

.sport {
    font-size: larger;
    margin-bottom: 3rem;
}

.button-shop {
    text-decoration: none;
    color: #6c933e;
    border: 0.1rem solid #6c933e;
    font-size: 1.5rem;
    padding: 0rem 1.5rem;
    border-radius: 9999px;
    align-self: flex-start;
}

.Reason {
    text-align: center;
    gap: 2rem;
    background-color: #d9e4cc;
    padding: 1.5rem 1rem 3rem 1rem;
    justify-items: center;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    background-color: #d9e4cc;
    padding: 1.5rem 1rem 3rem 1rem;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 15rem;
    font-weight: bolder;
}

.img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;

}

.call {
    font-size: 0.8rem;
    color: #626262;
    font-weight: bold;

}

.button-now {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: #6c933e;
    border-radius: 9999px;
    padding: 1rem 1.6rem;
}

.page {

    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 5rem;
    position: relative;
}

.arrow {
    background-color: white;
    border-radius: 9999px;
    padding: 0.5rem 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 45%;
    top: -1rem;
}

.footer {
    text-decoration: none;

    font-size: 1.5rem;
    line-height: 2rem;
}

.clothes {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 2rem;
}

.social {
    list-style-type: none;
    margin-bottom: 2rem;
}

.copy {
    list-style-type: none;
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .menu {
        height: 5rem;
    }

    .hero {
        padding: 40rem;
    }

    .tex {

        display: flex;
        flex-direction: column;
    }

    .shop {
        font-size: 8rem;
        margin-right: 4rem;
        margin-bottom: 0.5rem;
    }

    .delusion {
        font-size: 3rem;
        margin-right: 5rem;
        margin-top: 0.5rem;
    }

    .content {
        max-width: 90rem;
        margin-left: auto;
        margin-right: 50rem;
        font-size: 2rem;
    }

    .Reason {
        display: grid;
        grid-template-columns: 1.5fr repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        margin: 0 auto;
    }

    .list-item {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        gap: 2rem;
        background-color: #d9e4cc;
        padding: 1.5rem 1rem 3rem 1rem;
        justify-items: center;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 15rem;
        font-weight: bolder;
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

}